.header__container{
  display: flex;
  flex-direction: column;
  gap: var(--size200);
  padding: var(--size300) var(--size300) var(--size600);
}

.header__title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size400);
}

.header__title-container .header__title{
  font: var(--headline);
  color: var(--grayscale-white);
}

.header__title-container .header__logo{
  width: var(--size600);
  height: var(--size600);
}

.header__container .search__form{
  display: flex;
  gap: var(--size400);
}

.header__container .search__input{
  font: var(--body3);
  padding: var(--size200) var(--size400) var(--size200) var(--size850);
  border-radius: var(--size400);
  flex-grow: 1;
  background: url(../assets/images/search.svg) no-repeat var(--size300) var(--size200);
  background-color: var(--grayscale-white);
  box-shadow: inset var(--inset-shadow);
}

.header__container .search__filter-button{
  font: var(--body1);
  background-color: var(--grayscale-white);
  padding: var(--size200);
  border-radius: var(--size400);
  min-width: var(--size800);
  text-align: center;
  color: var(--identity-primary);
  box-shadow: inset var(--inset-shadow);
}

.grid__container{
  flex-grow: 1;
  background-color: var(--grayscale-white);
  box-shadow: inset var(--inset-shadow);
  border-radius: var(--size200);
}

.grid__container .pokemon__grid{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: var(--size600) var(--size300) var(--none);
  gap: var(--size200);
}

.grid__container .pokemon__grid .pokemon__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size100) var(--size200);
  border-radius: var(--size200);
  background-color: var(--grayscale-white);
  box-shadow: var(--offset-shadow1);
  position: relative;
}

.grid__container .pokemon__grid .pokemon__item::after{
  content: '';
  display: block;
  width: 100%;
  bottom: 0;
  height: var(--size1100);
  background-color: var(--grayscale-background);
  border-radius: var(--size200);
  position: absolute;
}

.pokemon__item .pokemon__number{
  width: 100%;
  text-align: right;
  font: var(--caption);
  color: var(--grayscale-medium);
  z-index: 1;
}

.pokemon__item .pokemon__image{
  width: var(--size1800);
  z-index: 1;
}

.pokemon__item .pokemon__name{
  width: 100%;
  text-align: center;
  font: var(--body3);
  color: var(--grayscale-dark);
  z-index: 1;
}