/* POKEDEX STYLES */

body.pokedex__container{
  width:360px;
  max-width: 100%;
  height: 640px;
  padding: var(--size100);
  background-color: var(--identity-primary);
  border-radius: var(--size300);
  display: flex;
  flex-direction: column;
}

.header__container{
  display: flex;
  flex-direction: column;
  gap: var(--size200);
  padding: var(--size300) var(--size300) var(--size600);
}

.header__title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size400);
}

.header__title-container .header__title{
  font: var(--headline);
  color: var(--grayscale-white);
}

.header__title-container .header__logo{
  width: var(--size600);
  height: var(--size600);
}

.header__container .search__form{
  display: flex;
  gap: var(--size400);
}

.header__container .search__input{
  font: var(--body3);
  padding: var(--size200) var(--size400) var(--size200) var(--size850);
  border-radius: var(--size400);
  flex-grow: 1;
  background: url(../assets/images/search.svg) no-repeat var(--size300) var(--size200);
  background-color: var(--grayscale-white);
  box-shadow: inset var(--inset-shadow);
}

.header__container .search__filter-button{
  font: var(--body1);
  background-color: var(--grayscale-white);
  padding: var(--size200);
  border-radius: var(--size400);
  min-width: var(--size800);
  text-align: center;
  color: var(--identity-primary);
  box-shadow: inset var(--inset-shadow);
}

.grid__container{
  flex-grow: 1;
  background-color: var(--grayscale-white);
  box-shadow: inset var(--inset-shadow);
  border-radius: var(--size200);
}

.grid__container .pokemon__grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size2200), 1fr));
  padding: var(--size600) var(--size300) var(--none);
  gap: var(--size200);
  list-style: none;
}

.grid__container .pokemon__grid .pokemon__item-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size100) var(--size200);
  border-radius: var(--size200);
  background-color: var(--grayscale-white);
  box-shadow: var(--offset-shadow1);
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}

.grid__container .pokemon__grid .pokemon__item-link:hover{
  scale: 1.025;
  transition: all 0.3s;
  box-shadow: var(--offset-shadow2);
}

.grid__container .pokemon__grid .pokemon__item-link::after{
  content: '';
  display: block;
  width: 100%;
  bottom: 0;
  height: var(--size1100);
  background-color: var(--grayscale-background);
  border-radius: var(--size200);
  position: absolute;
}

.pokemon__item-link .pokemon__number{
  width: 100%;
  text-align: right;
  font: var(--caption);
  color: var(--grayscale-medium);
  z-index: 1;
}

.pokemon__item-link .pokemon__image{
  width: var(--size1800);
  height: auto;
  z-index: 1;
}

.pokemon__item-link .pokemon__name{
  width: 100%;
  text-align: center;
  font: var(--body3);
  color: var(--grayscale-dark);
  z-index: 1;
  text-transform: capitalize;
}

/* POKEMON DETAILS STYLES */

body.pokemon__container{
  width:360px;
  max-width: 100%;
  height: 640px;
  padding: var(--size100);
  border-radius: var(--size300);
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/bg_pokeball.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--size200)) calc(0% + var(--size200));
}

.pokemon-header__container{
  display: flex;
  flex-direction: column;;
}

.pokemon-header__title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size200);
  padding: var(--size500) var(--size500) var(--size600);
}

.pokemon-header__title-container .pokemon-header__back-link{
  width: var(--size800);
  height: var(--size800);
  fill: var(--grayscale-white);
  filter: drop-shadow(var(--icon-shadow));
}


.pokemon-header__title-container .pokemon-header__title{
  font: var(--headline);
  color: var(--grayscale-white);
  flex-grow: 1;
  text-transform: capitalize;
}

.pokemon-header__title-container .pokemon-header__number{
  font: var(--subtitle2);
  color: var(--grayscale-white);
}

.pokemon-header__container .pokemon-header__carousel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--none) var(--size500);
  z-index: 1;
}

.pokemon-header__container .pokemon-header__carousel .carousel__link{
  width: var(--size600);
  height: var(--size600);
  fill: var(--grayscale-white);
  margin-top: var(--size800);
  filter: drop-shadow(var(--icon-shadow));
}

.pokemon-header__container .pokemon-header__carousel .carousel__link path{
  box-shadow: var(--offset-shadow1);
}

.pokemon-header__container .pokemon-header__carousel .pokemon-header-carousel__pokemon-image{
  max-width: 200px;
}

.pokemon-details__container{
  display: flex;
  flex-direction: column;
  gap: var(--size400);
  flex-grow: 1;
  background-color: var(--grayscale-white);
  box-shadow: inset var(--inset-shadow);
  border-radius: var(--size200);
  margin-top: calc(var(--size1400) * (-1));
  padding: var(--size1400) var(--size500) var(--size500);
}

.pokemon-details__container .pokemon-details__title{
  font: var(--subtitle1);
  text-align: center;
}

.pokemon-details__type-categories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size400);
}

.pokemon-details__type{
  font: var(--subtitle3);
  color: var(--grayscale-white);
  padding: var(--size50) var(--size200);
  border-radius: var(--size250);
  text-transform: capitalize;
}

.pokemon-details__container .pokemon-details__about{
  display: flex;
  flex-direction: column;
  gap: var(--size400);
  font: var(--body3);
  color: var(--grayscale-dark);
  flex-grow: 1;
}

.pokemon-details__about .pokemon-details__characteristics{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.pokemon-details__about .pokemon-characteristics__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size100);
  flex-grow: 1;
  border-right: var(--unit) solid var(--grayscale-light);
}

.pokemon-details__about .pokemon-characteristics__item .characteristics__data-block{
  align-items: center;
  flex-grow: 1;
}

.pokemon-details__about .pokemon-characteristics__item .characteristics__data-label{
  font: var(--caption);
  color: var(--grayscale-medium);
}

.pokemon-details__about .pokemon-characteristics__item  .characteristics__data-block{
  display: flex;
  gap: var(--size200);
  flex-grow: 1;
}

.pokemon-details__about .pokemon-characteristics__item  .characteristics__data-block .characteristics__icon{
  fill: var(--grayscale-dark);
}

.pokemon-details__about .pokemon-characteristics__item:last-child{
  border: none;
}

.pokemon-details__about .pokemon-characteristics__item:last-child .characteristics__data-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  text-transform: capitalize;
}

.pokemon-details__about .pokemon-details__description{
  flex-grow: 1;
    display: flex;
    align-items: center;
}

 .pokemon-details__container .pokemon-details__stats{
  display: flex;
  flex-direction: column;
  gap: var(--size400);
  font: var(--body3);
  color: var(--grayscale-dark);
}

.pokemon-details__stats .pokemon-details__statistics{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  list-style-type: none;
}

.pokemon-details__stats .pokemon-statistics__item{
  display: flex;
  align-items: center;
  gap: var(--size200);
}

.pokemon-details__stats .pokemon-statistics__item .statistics__label{
  font: var(--subtitle3);
  width: var(--size900);
  text-align: right;
}

.pokemon-details__stats .pokemon-statistics__item .statistics__value{
  width: var(--size600);
}

.pokemon-details__stats .pokemon-statistics__item .statistics__divider{
  width: var(--unit);
  height: var(--total);
  background-color: var(--grayscale-light);
  margin: var(--none) var(--size100);
}

.pokemon-details__stats .pokemon-statistics__item .statistics__progress-bar{
  height: var(--size100);
  border-radius: var(--size100);
  width: var(--total);
  overflow: hidden;
}

.pokemon-details__stats .pokemon-statistics__item .statistics__progress-bar .statistics__progress{
  height: var(--size100);
  width: 5px;
}

/* Pokemon type styling */

/* Type Tags */
.pokemon-details__type-bug{background-color: var(--type-bug);}
.pokemon-details__type-dark{background-color: var(--type-dark);}
.pokemon-details__type-dragon{background-color: var(--type-dragon);}
.pokemon-details__type-electric{background-color: var(--type-electric);}
.pokemon-details__type-fairy{background-color: var(--type-fairy);}
.pokemon-details__type-fighting{background-color: var(--type-fighting);}
.pokemon-details__type-fire{background-color: var(--type-fire);}
.pokemon-details__type-flying{background-color: var(--type-flying);}
.pokemon-details__type-ghost{background-color: var(--type-ghost);}
.pokemon-details__type-grass{background-color: var(--type-grass);}
.pokemon-details__type-ground{  background-color: var(--type-ground);}
.pokemon-details__type-ice{background-color: var(--type-ice);}
.pokemon-details__type-normal{background-color: var(--type-normal);}
.pokemon-details__type-poison{background-color: var(--type-poison);}
.pokemon-details__type-psychic{background-color: var(--type-psychic);}
.pokemon-details__type-rock{background-color: var(--type-rock);}
.pokemon-details__type-steel{background-color: var(--type-steel);}
.pokemon-details__type-water{background-color: var(--type-water);}

/* Details type */
body.pokemon-type-bug, 
body.pokemon-type-bug .statistics__progress
{background-color: var(--type-bug);}
body.pokemon-type-dark, 
body.pokemon-type-dark .statistics__progress
{background-color: var(--type-dark);}
body.pokemon-type-dragon, 
body.pokemon-type-dragon .statistics__progress
{background-color: var(--type-dragon);}
body.pokemon-type-electric, 
body.pokemon-type-electric .statistics__progress
{background-color: var(--type-electric);}
body.pokemon-type-fairy, 
body.pokemon-type-fairy .statistics__progress
{background-color: var(--type-fairy);}
body.pokemon-type-fighting, 
body.pokemon-type-fighting .statistics__progress
{background-color: var(--type-fighting);}
body.pokemon-type-fire, 
body.pokemon-type-fire .statistics__progress
{background-color: var(--type-fire);}
body.pokemon-type-flying, 
body.pokemon-type-flying .statistics__progress
{background-color: var(--type-flying);}
body.pokemon-type-ghost, 
body.pokemon-type-ghost .statistics__progress
{background-color: var(--type-ghost);}
body.pokemon-type-grass, 
body.pokemon-type-grass .statistics__progress
{background-color: var(--type-grass);}
body.pokemon-type-ground, 
body.pokemon-type-ground .statistics__progress
{background-color: var(--type-ground);}
body.pokemon-type-ice, 
body.pokemon-type-ice .statistics__progress
{background-color: var(--type-ice);}
body.pokemon-type-normal, 
body.pokemon-type-normal .statistics__progress
{background-color: var(--type-normal);}
body.pokemon-type-poison, 
body.pokemon-type-poison .statistics__progress
{background-color: var(--type-poison);}
body.pokemon-type-psychic, 
body.pokemon-type-psychic .statistics__progress
{background-color: var(--type-psychic);}
body.pokemon-type-rock, 
body.pokemon-type-rock .statistics__progress
{background-color: var(--type-rock);}
body.pokemon-type-steel, 
body.pokemon-type-steel .statistics__progress
{background-color: var(--type-steel);}
body.pokemon-type-water, 
body.pokemon-type-water .statistics__progress
{background-color: var(--type-water);}

body.pokemon-type-bug .statistics__label, 
body.pokemon-type-bug .pokemon-details__title, 
body.pokemon-type-bug .statistics__label
{color: var(--type-bug);}
body.pokemon-type-dark .statistics__label, 
body.pokemon-type-dark .pokemon-details__title, 
body.pokemon-type-dark .statistics__label
{color: var(--type-dark);}
body.pokemon-type-dragon .statistics__label,
body.pokemon-type-dragon .pokemon-details__title, 
body.pokemon-type-dragon .statistics__label
{color: var(--type-dragon);}
body.pokemon-type-electric .statistics__label, 
body.pokemon-type-electric .pokemon-details__title, 
body.pokemon-type-electric .statistics__label
{color: var(--type-electric);}
body.pokemon-type-fairy .statistics__label, 
body.pokemon-type-fairy .pokemon-details__title, 
body.pokemon-type-fairy .statistics__label
{color: var(--type-fairy);}
body.pokemon-type-fighting .statistics__label, 
body.pokemon-type-fighting .pokemon-details__title, 
body.pokemon-type-fighting .statistics__label
{color: var(--type-fighting);}
body.pokemon-type-fire .statistics__label, 
body.pokemon-type-fire .pokemon-details__title, 
body.pokemon-type-fire .statistics__label
{color: var(--type-fire);}
body.pokemon-type-flying .statistics__label, 
body.pokemon-type-flying .pokemon-details__title, 
body.pokemon-type-flying .statistics__label
{color: var(--type-flying);}
body.pokemon-type-ghost .statistics__label, 
body.pokemon-type-ghost .pokemon-details__title, 
body.pokemon-type-ghost .statistics__label
{color: var(--type-ghost);}
body.pokemon-type-grass .statistics__label, 
body.pokemon-type-grass .pokemon-details__title, 
body.pokemon-type-grass .statistics__label
{color: var(--type-grass);}
body.pokemon-type-ground .statistics__label, 
body.pokemon-type-ground .pokemon-details__title, 
body.pokemon-type-ground .statistics__label
{color: var(--type-ground);}
body.pokemon-type-ice .statistics__label, 
body.pokemon-type-ice .pokemon-details__title, 
body.pokemon-type-ice .statistics__label
{color: var(--type-ice);}
body.pokemon-type-normal .statistics__label, 
body.pokemon-type-normal .pokemon-details__title, 
body.pokemon-type-normal .statistics__label
{color: var(--type-normal);}
body.pokemon-type-poison .statistics__label, 
body.pokemon-type-poison .pokemon-details__title, 
body.pokemon-type-poison .statistics__label
{color: var(--type-poison);}
body.pokemon-type-psychic .statistics__label, 
body.pokemon-type-psychic .pokemon-details__title, 
body.pokemon-type-psychic .statistics__label
{color: var(--type-psychic);}
body.pokemon-type-rock .statistics__label, 
body.pokemon-type-rock .pokemon-details__title, 
body.pokemon-type-rock .statistics__label
{color: var(--type-rock);}
body.pokemon-type-steel .statistics__label, 
body.pokemon-type-steel .pokemon-details__title, 
body.pokemon-type-steel .statistics__label
{color: var(--type-steel);}
body.pokemon-type-water .statistics__label, 
body.pokemon-type-water .pokemon-details__title, 
body.pokemon-type-water .statistics__label
{color: var(--type-water);}

body.pokemon-type-bug .statistics__progress-bar{background-color: var(--type-bug-20);}
body.pokemon-type-dark .statistics__progress-bar{background-color: var(--type-dark-20);}
body.pokemon-type-dragon .statistics__progress-bar{background-color: var(--type-dragon-20);}
body.pokemon-type-electric .statistics__progress-bar{background-color: var(--type-electric-20);}
body.pokemon-type-fairy .statistics__progress-bar{background-color: var(--type-fairy-20);}
body.pokemon-type-fighting .statistics__progress-bar{background-color: var(--type-fighting-20);}
body.pokemon-type-fire .statistics__progress-bar{background-color: var(--type-fire-20);}
body.pokemon-type-flying .statistics__progress-bar{background-color: var(--type-flying-20);}
body.pokemon-type-ghost .statistics__progress-bar{background-color: var(--type-ghost-20);}
body.pokemon-type-elgrassectric .statistics__progress-bar{background-color: var(--type-grass-20);}
body.pokemon-type-ground .statistics__progress-bar{background-color: var(--type-ground-20);}
body.pokemon-type-ice .statistics__progress-bar{background-color: var(--type-ice-20);}
body.pokemon-type-normal .statistics__progress-bar{background-color: var(--type-normal-20);}
body.pokemon-type-poison .statistics__progress-bar{background-color: var(--type-poison-20);}
body.pokemon-type-psychic .statistics__progress-bar{background-color: var(--type-psychic-20);}
body.pokemon-type-rock .statistics__progress-bar{background-color: var(--type-rock-20);}
body.pokemon-type-steel .statistics__progress-bar{background-color: var(--type-steel-20);}
body.pokemon-type-water .statistics__progress-bar{background-color: var(--type-water-20);}